<!DOCTYPE html>
<html lang="en">

<head>
  <title>Category Master</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container">
    <h2>Category Master</h2>
    <a class="nav-item btn btn-primary" href="/category/addCategory">Add Category</a>
    <a class="nav-item btn btn-primary"style="float: right;" href="/">Go to Dashboard</a><br><br>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Category ID</th>
          <th>Category Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% category.forEach((y)=> { %>
          <tr>
            <td>
              <%= y._id %>
            </td>
            <td>
              <%= y.categoryName %>
            </td>
            <td>
              <a class="nav-link btn btn-info" href="/category/details/<%= y._id %>">Details</a>
              <a class="nav-link btn btn-success" href="/category/update/<%= y._id %>">Update</a>
              <a class="nav-link btn btn-danger" href="/category/delete/<%= y._id %>">Delete</a>
            </td>
          </tr>
          <% }) %>
      </tbody>
    </table>
  </div>

</body>

</html>