<!DOCTYPE html>
<html lang="en">

<head>
    <title>Delete Category</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <h2>Delete Category</h2>
       <form action="/category/delete/<%= category._id %>" method="post">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>
                        Category ID
                    </th>
                    <td>
                        <%= category._id %>
                    </td>
                </tr>
                <tr>
                    <th>
                        Category Name
                    </th>
                    <td>
                        <%= category.categoryName %>
                    </td>
                </tr>
                <tr>
                    <th>
                        Created At
                    </th>
                    <td>
                        <%= category.createdAt %>
                    </td>
                </tr>
                <tr>
                    <th>
                        Updated At
                    </th>
                    <td>
                        <%= category.updatedAt %>
                    </td>
                </tr>
            </tbody>
        </table>
        <input class="btn btn-danger" type="submit" value="Delete"><br><br>
       </form>
        <a class="nav-item btn btn-primary" href="/category/categoryMaster">Back</a>

    </div>

</body>

</html>