<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voting Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
    <h1>Voting Page</h1><br>
     <h4>Voter name = <%= vname  %> </h4><hr>
     <% if (votedCandidate) { %>
        <h3 style="color: green;">Already Voted for : <%= votedCandidate.candidateName  %></h3>
        <form action="/logout" method="POST">
            <button type="submit" class="btn btn-warning">Logout</button>
        </form>
    <% }else{  %>
     <form action="/votingPage" method="post">
        <% rCandidate.forEach((y) => { %>
            <input type="radio" name="candidateName"  class="form-check-input" value="<%= y.candidateName %>" >
            <label class="form-check-label"><%= y.candidateName %></label><br><br>
        <% }); %>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <% if( typeof message !== 'undefined') { %>
        <h3 style="color: brown;">Message : <%= message  %></h3>
    <% } %>
  
    <% } %>

</div>
</body>
</html>

